<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Add Patient Form</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div align="center">
  <h1>Add Patient</h1>

  <table>
    <form th:action="@{/addPatient}" th:object="${patient}" method="post">
      <tr>
        <td>Name: </td>
        <td><input type="text" th:field="*{name}"></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
      </tr>
      <tr>
        <td>Age: </td>
        <td><input type="number" th:field="*{age}"></td>
        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
      </tr>
      <tr>
        <td>Gender: </td>
        <td>
          <select th:field="*{gender}">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </td>
        <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input type="email" th:field="*{email}"></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
      </tr>
      <tr>
        <td>City: </td>
        <td><input type="text" th:field="*{city}"></td>
        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
      </tr>
      <tr>
        <td>Date of Birth: </td>
        <td><input type="date" th:field="*{dateOfBirth}"></td>
        <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </form>
  </table>
</div>

</body>
</html>
